# Environnements virtuels
venv/
.venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Airflow (si tu gardes Airflow — option B)
airflow/logs/
airflow/dags/__pycache__/
airflow.db
airflow-webserver.pid

# Données brutes volumineuses (ne pas versionner les données, seulement le code)
data/raw/*
data/processed/*
data_engineering/ingestion/raw/*
!data_engineering/ingestion/raw/.gitkeep

# Configs sensibles
.env
config/secrets.yaml

# IDE / OS
.vscode/
.idea/
Thumbs.db