apache-airflow==2.10.0
apache-airflow-providers-postgres==5.10.1
apache-airflow-providers-redis==3.4.1
apache-airflow-providers-celery==3.5.1
apache-airflow-providers-http==4.10.1
pandas==2.2.2
numpy==1.26.4
requests==2.32.3
python-dotenv==1.0.1
minio==7.2.7
psycopg2-binary==2.9.9
pydantic==2.8.2
